<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Feeds</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/reset.css">
	<link rel="stylesheet" href="styles/app.css">
</head>
<body ng-app="feedApp" ng-controller="NewsCtrl">
	
	<section class="feedWrapper">
		<header class="feedHeader">
			<div class="container">
				<span class="menu" ng-click="getNews()"></span>
			</div>
		</header>
		<section class="feedBody">
			<div class="fixedContainer">
				<section class="card" ng-repeat="new in news">
					<div class="cardHeader" ng-click="showNews( new.id )">
						<div class="wrapper">
							<div class="headerImage" ng-style="{'background': 'url({{ new.image }}) 50%'}"></div>
							<h1 class="headerTitle">{{ new.title}}</h1>
							<div class="clearfix"></div>
						</div>
					</div> <!-- end .cardHeader -->
					<div class="cardContent" id="{{ new.id }}">
						<img ng-src="{{ new.image }}" class="img-responsive contentImage">
						<h1 class="contentTitle">{{ new.title }}</h1>
						<p class="contentNews">{{ new.content }}</p>
					</div> <!-- end .cardContent -->
				</section> <!-- end .card -->
			</div>
		</section> <!-- end .feedBody -->
	</section>
	
	<script src="scripts/jquery-1.12.2.js"></script>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/news.js"></script>
</body>
</html>