@-moz-keyframes bounce-y {
	0% {
		-moz-transform: translateY(1000px);
	}
	75% {
		-moz-transform: translateY(50px);
	}
	100% {
		-moz-transform: translateY(68px);
	}
}

@-moz-keyframes bounce-x {
  0%   {width: 0%;}
  30%  {transform: rotate(0.02deg);}
  50%  {transform: rotate(0deg);}
  65%  {transform: rotate(0.02deg);}
  80%  {transform: rotate(0deg);}
  89%  {transform: rotate(0.02deg);}
  100% {transform: rotate(0deg); width: 100%;}
}

@-webkit-keyframes bounce-y {
	0% {
		-webkit-transform: translateY(1000px);
	}
	75% {
		-webkit-transform: translateY(50px);
	}
	100% {
		-webkit-transform: translateY(68px);
	}
}

@-webkit-keyframes bounce-x {
  0%   {width: 0%;}
  30%  {transform: rotate(0.02deg);}
  50%  {transform: rotate(0deg);}
  65%  {transform: rotate(0.02deg);}
  80%  {transform: rotate(0deg);}
  89%  {transform: rotate(0.02deg);}
  100% {transform: rotate(0deg); width: 100%;}
}

body {
	background-color: #394C5F;
	overflow: hidden;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.fixedContainer {
  position: absolute;
  width: 90%;
  left: 50%;
  margin-left: -45%;
  top: 26px;
  bottom: 90px;
  overflow-y: scroll;
}

.feedWrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0px;
	-moz-animation: bounce-y .6s;
	-moz-transform: translateY(68px);
	-webkit-animation: bounce-y .6s;
	-webkit-transform: translateY(68px);
}

.feedHeader {
  position: absolute;
  width: 80%;
  height: 76px;
  left: 50%;
  margin-left: -40%;
  background-color: #FF6654;
  border-radius: 10px 10px 0 0;
}

span.menu {
	width: 5%;
	height: 60px;
	display: inline-block;
}

span.menu:before {
  content: '';
  position: absolute;
  top: 23px;
  width: 46px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
}

span.menu:after {
  content: '';
  position: absolute;
  top: 43px;
  width: 46px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
}

.feedBody {
    position: absolute;
    width: 80%;
    top: 76px;
    left: 50%;
    bottom: 0;
    margin-left: -40%;
    background-color: #CDCDCC;
}

.card {
	width: 100%;
	margin-bottom: 7px;
	-webkit-animation: bounce-x 1s;
	-moz-animation: bounce-x 1s;
}

.cardHeader {
	position: relative;
	width: 100%;
	padding: 15px 0;
	margin-bottom: 6px;
	background-color: white;
	display: inline-block;
}

.cardHeader .headerImage {
	position: relative;
	float: left;
	left: 22px;
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 50%;
}

.cardHeader .headerTitle {
	position: relative;
	float: left;
	left: 46px;
	width: 60%;
	font-family: 'Roboto', sans-serif;
}

.cardContent {
	width: 100%;
	background-color: white;
	overflow: hidden;
	max-height: 0px;
	-webkit-transition: max-height 1s linear;
	-moz-transition: max-height 1s linear;
}

.active {
	max-height: 1000px;
}

.contentImage {
	float: left;
	margin-right: 37px;
}

.contentTitle {
	font-size: 1.3rem;
	margin: 28px 0 34px 0;
	font-family: 'Roboto', sans-serif;
}

.contentNews {
	width: 90%;
	text-align: justify;
	font-weight: 300;
	line-height: 1.2;
	font-family: 'Roboto', sans-serif;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

.wrapper {
	display: flex;
	align-items: center;
}

.clearfix {
	clear: both;
}









