@-moz-keyframes bounce {
	0% {
		-moz-transform: translateY(1000px);
	}
	75% {
		-moz-transform: translateY(50px);
	}
	100% {
		-moz-transform: translateY(68px);
	}
}

@-webkit-keyframes bounce {
	0% {
		-webkit-animation-delay: 2s;
		-webkit-transform: translateY(1000px);
	}
	75% {
		-webkit-transform: translateY(50px);
	}
	100% {
		-webkit-transform: translateY(68px);
	}
}

body {
	background-color: #394C5F;
	overflow: hidden;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.feedWrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0px;
	-moz-animation: bounce .6s;
	-moz-transform: translateY(68px);
	-webkit-animation: bounce .6s;
	-webkit-transform: translateY(68px);
}

.feedHeader {
  position: absolute;
  width: 80%;
  height: 76px;
  left: 50%;
  margin-left: -40%;
  background-color: #FF6654;
  border-radius: 10px 10px 0 0;
}

span.menu {
	width: 5%;
	height: 60px;
	display: inline-block;
}

span.menu:before {
  content: '';
  position: absolute;
  top: 23px;
  width: 46px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
}

span.menu:after {
  content: '';
  position: absolute;
  top: 43px;
  width: 46px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
}

.feedBody {
    position: absolute;
    width: 80%;
    top: 76px;
    left: 50%;
    bottom: 0;
    margin-left: -40%;
    padding-top: 26px;
    background-color: #CDCDCC;
    overflow-y: scroll;
}

.cardHeader {
	width: 100%;
	margin-bottom: 7px;
	padding: 15px 0;
	background-color: white;
}

.headerContent {
	position: relative;
	left: 22px;
	width: calc(100% - 22px);
	display: inline-block;
}

.headerContent > .headerImage {
	background: url('http://lorempixel.com/60/60/') 50% 50%;
	position: relative;
	float: left;
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 50%;
}

.headerContent > .headerImage + .headerTitle {
	position: relative;
	float: left;
	left: 28px;
	line-height: 60px;
}

.clearfix {
	clear: both;
}









